$muted : #999;

$principal-color: rgb(58, 101, 255);
$secondary-color: rgb(66, 255, 244);

@mixin padding-div($padding) {
   padding-left: $padding;
   padding-right: $padding;
}

$desktop-large:1400px;
$desktop-small:1200px;
$mobile-generic:800px;


$mobile-big:950px;

/*
$fsize-mobile-h1:;
$fsize-mobile-subtitle:;
$fsize-mobile-text:;


$fsize-desktop-h1:;
$fsize-desktop-subtitle:;
$fsize-desktop-text:;
*/

