// Colors
$muted: #999; // Define a muted color
$secondary-color: white; // Define the secondary color
$principal-color: #6E57E0; // Define the principal color

// Mixin
@mixin padding-div($padding) {
  padding-left: $padding; // Apply left padding
  padding-right: $padding; // Apply right padding
}

// Media Query Breakpoints
$desktop-large: 1400px; // Breakpoint for large desktop screens
$desktop-small: 1200px; // Breakpoint for small desktop screens
$mobile-generic: 800px; // Breakpoint for generic mobile screens
$mobile-big: 950px; // Breakpoint for bigger mobile screens
$mobile-small: 375px; // Breakpoint for small mobile screens
