#presentation {
    padding: 5.5rem 5% 4rem 5%;
    //margin-top: 3rem;
    // background-color: white;

    height: 100vh;

    @media screen and (min-width: $desktop-large) {
        @include padding-div(20%);
        padding-top: 8.8%;
        padding-bottom: 14.5%;
    }

    @media screen and (min-width: $desktop-small) and (max-width: $desktop-large) {
        @include padding-div(20%);
        padding-top: 10.5%;
        padding-bottom: 14.5%;
    }


    .presentation_intro-text {
        display: grid;
        grid-template-columns: 0.1fr 1fr;


        @media screen and (max-width: $mobile-generic) {
            grid-template-columns: 1fr;

        }

        .presentation_intro-text_social {
            display: flex;
            flex-direction: column;

            margin-top: 3vh;

            @media screen and (max-width: $mobile-generic) {
                flex-direction: row;


            }


            i {
                cursor: pointer;

                color: $principal-color;


                font-size: 2rem;


                @media screen and (max-width: $mobile-generic) {
                    margin: 0;
                    font-size: 3rem;

                    &:last-of-type {
                        margin-left: 1rem;
                    }

                }

                @media screen and (min-width: $desktop-small) {
                    font-size: 3rem;
                }
            }


        }

        .presentation_intro-text_greetings {
            h1 {
                margin-top: 3vh;
                margin-bottom: 5vh;

                @media screen and (max-width: $mobile-small) {
                    font-size: 45px;
                    margin-top: 1vh;
                    margin-bottom: 1vh;

                }
            }

            p {

                margin-top: 5vh;
                margin-bottom: 2vh;

                @media screen and (max-width: $mobile-small) {
                    margin-top: 0vh;

                }

            }

            button {
                p {
                    margin: 0;
                }
            }
        }

    }

    h1 {
        font-size: 2rem;
        font-weight: 100;

        @media screen and (max-width: $mobile-generic) {
            font-size: 3rem;
        }


        @media screen and (min-width: $desktop-small) {
            font-size: 4rem;
        }



        span {
            font-weight: 600;
        }

        span.typed-text {
            font-weight: 100;
        }
    }

    p {
        color: $muted;

        @media screen and (max-width: $mobile-generic) {
            font-size: 1.15rem;
        }

        @media screen and (min-width: $desktop-small) {
            font-size: 1.3rem;
        }

    }

    button {


        cursor: pointer;

        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        padding: .7rem;
        border-radius: 15px;
        background-color: $principal-color;
        margin-top: 2rem;
        transition: all .5s ease;

        @media screen and (max-width: $mobile-generic) {
            padding: 1.2rem;
        }

        &:hover {
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0);
            padding-left: .8rem;
            padding-right: .8rem;

            @media screen and (max-width: $mobile-generic) {
                padding-left: 1.4rem;
                padding-right: 1.4rem;
            }

            p {
                i {}
            }

        }


        p {


            font-weight: 200;
            font-size: 18px;

            position: relative;
            bottom: 7px;
            color: $secondary-color;


            i {

                font-size: 35px;
                margin-left: 15px;

                position: relative;
                top: 7px;
            }
        }

    }


}

.scrolldown_animation {
    width: 100vw;
    height: 130px;
    display: none;
    @media screen and (max-width: $mobile-big) {
        display: flex;

    }
    justify-content: center;
    align-items: center;

    position: relative;
    right: 1.5rem;
    bottom: .5rem;


  
    span {
        width: 5px;
        height: 20px;
        background: #0A1029;
        border-radius: 5px;
        margin: 3px;
        animation: move 1.1s infinite ease-in-out;


        @media screen and (max-height: 680px) {
            /* Estilos para pantallas con altura máxima de 600px (ejemplo: dispositivos móviles en orientación vertical) */
            background: rgba(255, 255, 0, 0);
        }
    }

    span:nth-of-type(1) {
        transform: rotate(-45deg);
    }

    span:nth-of-type(2) {
        transform: rotate(45deg);
    }

    @keyframes move {
        0% {
            margin-top: 0;
        }

        50% {
            margin-top: 100px;
        }

        100% {
            margin-top: 0;
        }
    }

}

#aboutme {
    scroll-margin-top: 100px;

    padding: 0rem 5% 4rem 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    i {
        display: block;
        margin: 0 auto;
        font-size: 7rem;

        color: $principal-color;
        color: #6D6A7C;
    }

    @media screen and (min-width: $desktop-large) {
        @include padding-div(20%);
        padding-top: 0rem;
        padding-bottom: 5rem;

        i {

            font-size: 10rem;

        }

        .text {

            font-size: 20px;

        }
    }

    @media screen and (min-width: $desktop-small) and (max-width: $desktop-large) {
        scroll-margin-top: 70px;


        @include padding-div(20%);

        padding-top: 0rem;
        padding-bottom: 5rem;

        i {

            font-size: 10rem;

        }

        .text {

            font-size: 20px;

        }

    }

    p {
        text-align: center;
    }




}



#experience {
    padding: 2rem 5% 4rem 5%;

    @media screen and (min-width: $desktop-large) {
        @include padding-div(25%);


    }

    @media screen and (min-width: $desktop-small) {
        @include padding-div(19%);


    }
}


.tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    margin-bottom: 2rem;

    @media screen and (min-width: $desktop-small) {
        position: relative;
        right: 1.2rem;

        &:nth-child(2) {
            position: relative;
            right: 0rem;
            justify-content: center;

            .tabs_button {
                margin-right: 1.5rem;

            }
        }
    }



    .tabs_button {


        transition: all .1s;
        padding: 5px 15px 5px 15px;

        border-radius: 25px;
        background-color: rgb(238, 238, 238);

        button {
            cursor: pointer;


            color: #4d4b4b;



        }
    }

    .tab-active {
        background-color: $principal-color;
        padding: 5px 15px 5px 15px;
        border-radius: 25px;

        button {
            color: white;
        }
    }
}


#myskills {
    padding: 4rem 5% 4rem 5%;
    scroll-margin-top: 40px;

    @media screen and (min-width: $desktop-large) {
        @include padding-div(25%);

        padding-top: 7rem;
        margin-bottom: 5.5rem;
    }

    @media screen and (min-width: $desktop-small) and (max-width: $desktop-large) {
        @include padding-div(19%);
        padding-top: 7rem;
        margin-bottom: 5.5rem;

    }


    .tab-content {
        p {
            margin: 1rem;
        }
    }
}

.tabs-content {
    background-color: rgb(242, 242, 242);

    height: 100%;
    padding: 1rem;
    border-radius: 25px;

    i.fa-database,
    i.fa-php {
        background-color: #0A1029;
        color: white;
        border-radius: 5px;

        padding: .2rem;

        @media screen and (max-width: $mobile-generic) {
            font-size: 2.9rem;
            padding: .5rem;

        }

        @media screen and (min-width: $desktop-small) {
            font-size: 3.5rem;
            padding: .4rem;

        }
    }

    i.fa-databas {
        @media screen and (max-width: $mobile-generic) {
            padding: .5rem;
            font-size: 2.5rem;
        }

        @media screen and (min-width: $desktop-small) {
            padding: .5rem;
            font-size: 3.5rem;

        }

        span {}
    }
}

.tab-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;

    height: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;


    p {
        display: flex;
        align-items: center;

        span {
            position: absolute;
            left: 1rem;
            right: 10px;
            bottom: 1.2rem;
        }

    }

    i {
        margin-right: 10px;
        font-size: 2rem;

        @media screen and (max-width: $mobile-generic) {
            font-size: 4rem;
        }

        @media screen and (min-width: $desktop-small) {
            font-size: 5rem;

        }
    }

}



.tab-content-active {
    height: 100%;
    visibility: visible;
    opacity: 1;
}


#projects {
    padding: 4rem 5% 4rem 5%;

    overflow: hidden; //Importante, evita que el footer quede con un margen blanco debajo suyo.
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $desktop-large) {

        @include padding-div(21%);

    }

    @media screen and (min-width: $desktop-small) and (max-width: $desktop-large) {
        @include padding-div(19%);
    }




    .tabs {
        //Botonoes Tabs , apariencia.
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        position: relative;

        .tabs_button {
            margin: .7rem;
        }

        @media screen and (min-width: $desktop-large) {

            .tabs_ {
                margin: 1rem;

                button {
                    p {
                        i {
                            margin-right: 10px;
                        }
                    }
                }

            }

        }



        .tabs-content {
            background-color: rgba(255, 255, 255, 0);


        }

        @media screen and (max-width: $mobile-big) {
            //Mobile Look - Very Different
            display: flex;

            .tabs_button {
                margin: 1rem;

                padding: .5rem .5rem;
                width: 30%;

                button {
                    display: block;
                    margin: 0 auto;

                    p {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        justify-content: center;

                        margin: 0 auto;
                        font-size: 1rem;

                        i {
                            margin-bottom: .7rem;
                            margin-top: .5rem;
                            font-size: 1.5rem;

                        }
                    }
                }
            }

        }


    }


}