/* Header Styles */
header {
    height: 3rem;
    width: 100%;
    background-color: white;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 10px;

    position: fixed;
    z-index: 1111;
    top: 0;
    left: 0;

    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);

    /* Media Query for desktop-large screens */
    @media screen and (min-width: $desktop-large) {
        @include padding-div(20%);

    }

    /* Media Query for desktop-small to desktop-large screens */
    @media screen and (min-width: $desktop-small) and (max-width: $desktop-large) {
        @include padding-div(25%);
    }

    /* Header Logo Styles */
    .header_logo {
        a {
            color: #0A1029;
            font-size: 2rem;
        }

        cursor: pointer;

        /* Media Query for mobile-generic screens */
        @media screen and (max-width: $mobile-generic) {
            padding-left: 10px;
            padding-right: 10px;
        }

        /* Media Query for desktop-large screens */
        @media screen and (min-width: $desktop-large) {
            img {
                height: 2rem;
                margin-top: 5px;
            }

        }

    }

    @media screen and (max-width: $mobile-generic) {
        flex-direction: column;
        justify-content: left;
        align-items: baseline;
        padding: 0px;
    }

    .language_btn {
        @media screen and (max-width: $mobile-generic) {
            display: none;
        }

        cursor: pointer;

        &-text{
            i{
                transition: all .2s;
            }
        }
        &-content {
            display: flex;
            flex-direction: column;
            background-color: $principal-color;
            overflow: hidden;
            max-height: 0px;
            position: absolute;
            margin-top: 1rem;
            width: 5rem;
            border-radius: 5px;

            a {
                padding: 5px;
                color: #ffff;

                &:hover {
                    background-color: #5e47cc;
                }
            }
        }
    }

    .language_btn_mobile {
        @media screen and (min-width: $mobile-generic) {
            display: none;
        }

        display: flex;
        position: absolute;
        top: 11px;
        right: 4rem;

        .language_btn-content {
            margin-top: 38px;
            background-color: $principal-color;
            display: flex;
            flex-direction: column;
        }
    }

    nav {


        ul {
            display: flex;

            @media screen and (max-width: $mobile-generic) {
                align-items: center;
                flex-direction: column;
                position: absolute;
                overflow: hidden;
                top: 2.9rem;
                width: 100%;
            }



            li {
                margin-left: 15px;

                @media screen and (max-width: $mobile-generic) {
                    padding: 1.1rem;
                    margin-left: 0px;
                    width: 100%;
                    text-align: center;
                    border-bottom: .5px solid gray;
                }

                @media screen and (min-width: $mobile-generic) {
                    &:hover {
                        background-color: $principal-color;
                        border-radius: 5px;

                        a {
                            color: #ffff;
                        }
                    }
                }

                a {
                    font-weight: 400;
                    color: #0A1029;
                    text-decoration: none;
                }

                height: 100%;
                padding: .5rem;

            }
        }
    }

}



/* Mobile Nav Styles */
#mobile-nav {
    max-height: 0;
    transition: all .5s;
    background-color: rgb(245, 242, 242);
    align-items: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Burger Menu Styles */
.burguer_menu {
    position: fixed;
    right: 1rem;
    top: 0;
    transition: all .5s;
    display: none;

    /* Media Query for mobile-generic screens */
    @media screen and (max-width: $mobile-generic) {
        display: block;
    }
}

/* Burger Menu Icon Styles */
#burguer_menu-icon {
    cursor: pointer;
    font-size: 2rem;
}