header {
    height: 3rem;
    width: 100%;
    background-color: white;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 10px;

    position: fixed;
    z-index: 1111;
    top: 0;
    left: 0;

    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);

    @media screen and (min-width: $desktop-large) {
        @include padding-div(20%);

    }
    @media screen and (min-width: $desktop-small) and (max-width: $desktop-large){
        
        @include padding-div(25%);
    }


    .header_logo {
        a{
            color: #0A1029;
             
            font-size: 2rem;
        }
        cursor: pointer;
        @media screen and (max-width: $mobile-generic) {
            padding-left: 10px;
            padding-right: 10px;

        }

        @media screen and (min-width: $desktop-large) {
           img{
            height: 2rem;
            margin-top: 5px;
           }
    
        }
        @media screen and (min-width: $desktop-small) and (max-width: $desktop-large){
          
        }

    }
    @media screen and (max-width: $mobile-generic) {
        flex-direction: column;
        justify-content: left;
        align-items:baseline;
        padding: 0px;

    }
    nav {
        @media screen and (max-width: $mobile-generic) {
        }

        ul {               
            display: flex;
            @media screen and (max-width: $mobile-generic) {
                align-items: center;
                flex-direction: column;
                position: absolute;
                overflow: hidden;
                top: 2.9rem;
                width: 100%;

                
            }
                
                li{
                    margin-left: 15px;
                    @media screen and (max-width: $mobile-generic) {
                        padding: 1.1rem;
                       
                        margin-left: 0px;

                        width: 100%;
                        text-align: center;

                       border-bottom: .5px solid gray;
                    }
                    a{
                        font-weight: 500;
                        color: #0A1029;
                        text-decoration: none;

                    }
                    
                }
           
          
        }
    }

}
#mobile-nav{
    max-height: 0;
    transition: all .5s;

    background-color: rgb(245, 242, 242);
    align-items: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
     
}
.burguer_menu{
    position: fixed;
    right: 1rem;
    top:0;

    transition: all .5s;

    display: none;
    @media screen and (max-width: $mobile-generic) {
        display: block;
    }
}
#burguer_menu-icon {
    cursor: pointer;
    font-size: 2rem;


}


