*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
embed,
object,
video {
  max-width: 100%;
}

body {
  y: sans-serif;
  font-size: 16px;
  line-height: 1.5;

  display: block;
  margin: 0 auto;

  /*
  background-color: #F6F9FF;
  */

  background-color: #FBFBFE;
 
  @media screen and (min-width: $desktop-small) {}
}

body,
html {
  color: #0A1029;
//  font-family: 'Roboto', sans-serif;
  font-family: 'Poppins', sans-serif;

}

.mobile {
  @media screen and (max-width: $mobile-generic) {
    display: block;
  }
}

a {
  color: rgb(58, 101, 255);
  text-decoration: underline;
}

html {
  scroll-behavior: smooth;

}

