@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

p.subtitle {
    position: relative;
    color: black;
}

p.subtitle[data-unique="first_subtitle"]{
    top: 2.5rem;
}

p.text{
    color: #6D6A7C;
}

/*
.subtitle{
   
    @media screen and (min-width: $desktop-large) {
        

    }

    @media screen and (min-width: $desktop-small) and (max-width: $desktop-large) {
       

    }
}
*/