// Import Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

// Styles for subtitle elements
p.subtitle {
    position: relative;
    text-align: center;
    font-weight: 700;
    margin-bottom: 1rem;

    color: #0A1029;

    &[data-unique="first_subtitle"] {
        top: 2.5rem; // Top offset of 2.5rem only for the first subtitle
    }
}

// Styles for regular text elements
p.text {
    color: #6D6A7C; // Text color #6D6A7C
}
